.empleados-container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.empleados-title{
  text-align:center;
  color:#1e3a8a;
  margin-bottom:25px;
}

.empleados-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fill,minmax(280px,1fr));

  gap:20px;
}

.empleado-card{

  background:white;

  border-radius:18px;

  padding:20px;

  box-shadow:
  0 10px 25px rgba(0,0,0,.08);

  transition:.3s;
}

.empleado-card:hover{
  transform:translateY(-5px);
}

.empleado-card h3{
  color:#2563eb;
  margin-bottom:10px;
}

.empleado-card p{
  color:#475569;
  margin:8px 0;
}

.card-buttons{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.edit-btn{

  flex:1;

  border:none;

  background:#14b8a6;

  color:#111;

  padding:10px;

  border-radius:10px;

  cursor:pointer;
}

.delete-btn{

  flex:1;

  border:none;

  background:#ef4444;

  color:white;

  padding:10px;

  border-radius:10px;

  cursor:pointer;
}

.save-btn{

  width:100%;

  margin-top:10px;

  border:none;

  background:#22c55e;

  color:white;

  padding:10px;

  border-radius:10px;

  cursor:pointer;
}

input{

  width:100%;

  padding:10px;

  border:1px solid #ddd;

  border-radius:10px;
}